@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&family=Exo:wght@600&display=swap');

@import url('https://fonts.cdnfonts.com/css/hk-groteks');

                

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}


/* Menu MADY'SB*/

.Menu-cont {
  background-color: #112235;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo img {
  max-width: 200px;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-family: 'Exo';
  font-size: 18px;
}

.menu li a:hover {
  color: #2267B0;
}

.fab li i a:hover {
  color: #22b062;
}

/* Box Modeling */

.caja {
    margin-top: 2px;
    width: 100%;
    background-color: #112235;
    text-align: center;
    padding: 50px 0;
  }
  
    .caja h1 {
    color: white;
    font-family: 'Exo';
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .caja p {
    color: white;
    font-family: 'HK Grotesk', sans-serif;
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 50px;
  }
  
  .caja button {
    font-family: 'Exo';
    background-color: #2167B0;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
  }

  .whatsapp-btn i {
    margin-left: 10px;
  }

.whatsapp-btn i.fab.fa-whatsapp {
   font-size: 30px;
   color: #FFFFFF;
   padding-right: 10px;

  }

  .whatsapp-btn:hover {
    background-color: #25D366;
  }

/* Feed de Instagram */

.eui-widget-title.es-widget-title.eapps-instagram-feed-title {

  color: #112235 !important;
  font-family: 'Exo' !important;
  font-size: 33px !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
  margin-top: 31px !important;

}


/* Categorias */

/* Texto e imágenes */

.conten-imgtext {
    background-color: #112235;
    width: 100%;
    padding: 50px 0;
    text-align: center;
  }
  
  .titulo {
    font-family: 'Exo';
    color: #fff;
    font-size: 36px;
    margin-bottom: 50px;
  }
  
  .contenedor-columnas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .columna {
    flex: 0 0 30%;
    margin-bottom: -10px;
  }
  
  .columna img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .columna p {
    font-family: 'HK Grotesk', sans-serif;
    color: #fff;
    margin-top: 10px;
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
  }
  
  /* Google Maps */

  .conten-map {
    background-color: white;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .conten-map h2 {
    color: #112235;
    font-family: 'Exo';
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
  }
  
  .conten-map iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  
 /* Formulario */ 

 .formul-cont {
  background-color: #ffffff;
  width: 100%;
  padding: 50px 0;
  text-align: center;
}

.formul-cont h2 {
  font-family: 'Exo';
  color: #112235;
  font-size: 36px;
  margin-bottom: 30px;
}

.formul-caja {
  background-color: #112235;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 30px;
}

.formul {
  width: 60%;
}

.formul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
}

label {
  font-family: 'HK Grotesk', sans-serif;
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #ffffff;
  color: #112235;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #f2f2f2;
}

.image {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  max-width: 100%;
}


/* Footer */

.foot-cont {
  background-color: #112235;
  width: 100%;
  padding: 40px;
  font-family: 'Exo';
  color: white;
  text-align: center;
}

.footer-titulo h2 {
  color: #112235;
  font-family: 'Exo';
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
}

.redes {
  margin-top: 20px;
}

.redes a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  font-size: 20px;
}

.fab {
  transition: all 0.2s ease-in-out;
}

.fab:hover {
  color: #2267B0;
}

.footer p {
  font-family: 'HK Grotesk', sans-serif;
  margin-top: 20px;
  font-size: 14px;
}

/* Banner de sección */

.imagen_mobile{

  display: none;
}

.imagen {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* Galeria de secciones 

.content-img {
  margin: 0 auto;
  width: 80%;
  background-color: #FFFFFF;
  text-align: center;
  padding: 50px 0;
}

.nuestros_productos {
  color: #112235;
  font-family: 'Exo', sans-serif;
  font-size: 36px;
  margin-bottom: 50px;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.img-wrapper {
  margin: 10px;
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.img-wrapper:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

*/

.all-content {
  background-color: white;
  width: 100%;
}

.titulo-NP {
font-family: 'Exo', sans-serif;
font-size: 36px;
color: #112235;
text-align: center;
margin: 20px 0;
}

.seg-content {
background-color: white;
width: 80%;
margin: 0 auto;
display: flex;
}

.box-catfil {
width: 20%;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px;
}

.box-catfil h3 {
font-family: 'Exo', sans-serif;
font-size: 24px;
color: #112235;
margin-bottom: 10px;
}

.box-catfil ul {
list-style: none;
}

.cat-item {
font-family: 'HK Grotesk', sans-serif;
font-size: 18px;
color: #112235;
cursor: pointer;
margin-bottom: 10px;

transition: transform .2s;

}

.cat-item:hover {

  transform: scale(1.1);

  color: #2267B0;
  text-decoration: underline;
}

.cat-item.active {
font-weight: bold;
}

.box-galimg {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 20px;
padding: 20px;
}

.img-item {
  position: relative;
  cursor: pointer;
}

.img-item img {
width: 100%;
height: auto;
width: 100%;
height: 100%;
object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-item:hover .overlay {
opacity: 1;
height: 100%;
}



.img-item .text{
  opacity: 0;
}


.img-item:hover .text {
  opacity: 1;
}



  
/* Botón contacto */

.contact-container {
  background-color: #112235;
  width: 100%;
  text-align: center;
  padding: 20px;
  margin-bottom: 2px;
}

.contact-container p {
  font-family: 'HK Grotesk', sans-serif;
  font-size: 22px;
  color: #FFFFFF;
  margin: 0;
}

.contact-container p {
  display: inline-block;
  font-family: 'Exo';
  font-size: 26px;
  color: #FFFFFF;
  margin: 0;
}

.contact-button {
  display: inline-block;
  font-family: 'Exo', sans-serif;
  font-size: 24px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #2167B0;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

/* Articulos Nosotros */

/* 
.Articul-content {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  font-family: 'HK Grotesk', sans-serif;
  text-align: center;
}

.Articul-content h2 {
  font-family: 'Exo', sans-serif;
  font-size: 36px;
  color: #112235;
}

.Articul-content article {
  margin-top: 30px;
}

.Articul-content article p {
  font-size: 18px;
}

.Articul-content h2 + article {
  margin-top: 10px;
}
*/

.Nosotros-content {
  width: 90%;
  margin: 0 auto;
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
}

.cajas-imgtext {
  background-color: #FFFFFF;
  padding: 20px;
  text-align: center;
}

.cajas-imgtext1 img,
.cajas-imgtext4 img,
.cajas-imgtext5 img {
  width: 500px;
  height: 500px;
}

.cajas-imgtext2 h2,
.cajas-imgtext3 h2,
.cajas-imgtext6 h2 {
  font-family: 'Exo', sans-serif;
  font-size: 36px;
  color: #112235;
  margin-bottom: 10px;
}

.cajas-imgtext2 p,
.cajas-imgtext3 p,
.cajas-imgtext6 p {
  text-align: justify;
  font-family: 'HK Grotesk', sans-serif;
  font-size: 20px;
  color: #112235;
}

/* Blog Informativo */

/*
.Blog-contenido {
  width: 80%;
  margin: 0 auto;
  background-color: #ffffff;
  text-align: center;
  padding: 50px 0;
}

.Blog-contenido h1 {
  font-family: 'Exo', sans-serif;
  font-size: 36px;
  color: #112235;
}

.Blog-contenido h2 {
  font-family: 'Exo', sans-serif;
  font-size: 30px;
  margin-top: 20px;
  color: #112235;
}

.Blog-contenido p {
  font-family: 'HK Grotesk', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin-top: 20px;
}

*/

.Blog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white !important;
  width: 100%;
}

.titulo-blog1 {
  font-family: 'Exo', sans-serif;
  font-size: 36px;
  color: #112235;
  margin-top: 50px;
}

.blog-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 80%;
  padding: 20px;
  margin-top: 50px;
}

.img-context {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-context img {
  width: 800px;
  height: 200px;
  object-fit: cover;
  margin: auto;
}

.parrafo-blog1 {
  font-family: 'HK Grotesk', sans-serif;
  font-size: 18px;
  color: #112235;
  text-align: center;
  margin-top: 20px;
}

.parrafo-blog1::first-letter {
  text-transform: capitalize;
}



/* Formulario Contacto */

.Formulario-Cont {
  width: 100%;
  background-color: #fff;
  margin-bottom: 20px;
}



.form-container {
  width: 80%;
  margin: 0 auto;
  background-color: #112235;
  padding: 36px 20px 60px 20px;
  margin-top: 46px;
}


.titulo_contacto {
  text-align: center;
  font-family: 'Exo', sans-serif;
  font-size: 36px;
  color: #fff;
  margin-bottom: 20px;
}

.form {
  display: flex;
}

.form-left {
  width: 40%;
  margin-right: 5%;
}

.form-left label, .form-right label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-family: 'HK Grotesk', sans-serif;
  color: #fff;
}

.form-left input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.form-left input:focus {
  outline: none;
}

.form-buttons {
  margin-top: 20px;
}

.form-buttons button {
  background-color: #fff;
  color: #112235;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
}

.form-buttons button:hover {
  background-color: #2167B0;
  color: white;
  border: 2px solid #2167B0;
}

.form-right {
  width: 60%;
}

.form-right input, .form-right textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.form-right input:focus, .form-right textarea:focus {
  outline: none;
}

.form-right textarea {
  height: 100px;
}

/* Otros Contacto */

.Formulario-Cont {
  width: 100%;
  background-color: #FFFFFF;
  margin-bottom: 20px;
}

.caja-contact {
  width: 80%;
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 20px;
}

.caja-contact h2 {
  color: #112235;
  margin-bottom: 40px;
}

.col-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.imgcol-contact {
  width: 30%;
  text-align: center;
  margin-bottom: 20px;
}

.textcol-contact {
  font-family: 'HK Grotesk', sans-serif;
  font-size: 16px;
  margin-top: 10px;
}

/* Diseño Responsive */


nav.navbar.navbar-expand-lg.bg-body-tertiary {
  display: none;
}


.esconder_mobile{

  display: none;
}



@media(max-width:768px){

/* Menu MADY'SB*/

  .Menu-cont {
    background-color: #112235;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

.logo img {
  max-width: 200px;
  margin-bottom: 10px;
}

/* Box Modeling */

.caja h1 {
  color: white;
  font-family: 'Exo';
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.caja p {
  color: white;
  font-family: 'HK Grotesk', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 40px;
}

/* Feed de Instagram */

.eui-widget-title.es-widget-title.eapps-instagram-feed-title {

  color: #112235 !important;
  font-family: 'Exo' !important;
  font-size: 30px !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
  margin-top: 31px !important;

}

/* Texto e imágenes */

.contenedor-columnas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: -30px;
}

.titulo {
  font-family: 'Exo';
  color: #fff;
  font-size: 30px;
  margin-bottom: 40px;
}

.columna img {
  max-width: 100%;
  width: 106px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.columna p {
  font-family: 'HK Grotesk', sans-serif;
  color: #fff;
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 40px;
}


/* Google Maps */

.conten-map h2 {
  color: #112235;
  font-family: 'Exo';
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 10px;
}

/* Formulario */

.formul-cont h2 {
  font-family: 'Exo';
  color: #112235;
  font-size: 30px;
  margin-bottom: 30px;
}

.formul-caja {
  background-color: #112235;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  flex-direction: column-reverse;
  align-items: center;
}


/* Footer */

.foot-cont {
  background-color: #112235;
  width: 100%;
  padding: 26px;
  font-family: 'Exo';
  color: white;
  text-align: center;
}


.footer-titulo h2 {
  color: #112235;
  font-family: 'Exo';
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
}

.redes {
  margin-top: 20px;
  margin-bottom: 6px;
}

.redes a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}

/* Banner de sección */

.imagen {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Galeria de secciones */

.titulo-NP {
  font-family: 'Exo', sans-serif;
  font-size: 30px;
  color: #112235;
  text-align: center;
  margin: 5px 0;
}

.box-catfil h3 {
  font-family: 'Exo', sans-serif;
  font-size: 20px;
  color: #112235;
  margin-bottom: 10px;
}

.cat-item {
  font-family: 'HK Grotesk', sans-serif;
  font-size: 16px;
  color: #112235;
  cursor: pointer;
  margin-bottom: 10px;
  transition: transform .2s;
}

.box-catfil {
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.box-catfil ul {
  list-style: none;
  padding: inherit;
}

.box-galimg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
  align-content: space-between;
  justify-content: center;
}


/* Botón contacto */

.contact-container p {
  display: inline-block;
  font-family: 'Exo';
  font-size: 22px;
  color: #FFFFFF;
  margin: 0;
}

.contact-button {
  display: inline-block;
  font-family: 'Exo', sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #2167B0;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

/* Banner de sección */

.imagen {
  width: 100%;
  height: auto;
  margin-bottom: 6px;
}


/* Articulos nosotros */

.Nosotros-content {
  width: 90%;
  margin: 0 auto;
  background-color: #FFFFFF;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.cajas-imgtext {
  background-color: #FFFFFF;
  padding: 20px;
  text-align: center;
}

.cajas-imgtext1 img,
.cajas-imgtext4 img,
.cajas-imgtext5 img {
  width: 100%;
  height: auto;
}

.cajas-imgtext2 h2,
.cajas-imgtext3 h2,
.cajas-imgtext6 h2 {
  font-family: 'Exo', sans-serif;
  font-size: 30px;
  color: #112235;
  margin-bottom: 10px;
}

.cajas-imgtext2 p,
.cajas-imgtext3 p,
.cajas-imgtext6 p {
  text-align: justify;
  font-family: 'HK Grotesk', sans-serif;
  font-size: 18px;
  color: #112235;
}


/* Blog */

.titulo-blog1 {
  font-family: 'Exo', sans-serif;
  font-size: 30px;
  color: #112235;
  margin-top: 26px;
  text-align: center;
  padding-left: 37px;
  padding-right: 33px;
  line-height: 34px;
}

.blog-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 80%;
  padding: 20px;
  margin-top: 26px;
}

.img-context img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin: auto;
}

.parrafo-blog1 {
  font-family: 'HK Grotesk', sans-serif;
  font-size: 18px;
  color: #112235;
  text-align: center;
  margin-top: 14px;
}


/* Otros Contacto */

.titulo_contacto {
  font-family: 'Exo', sans-serif;
  font-size: 30px;
  color: #ffffff;
  margin-top: 26px;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 24px;
}

.form-left {
  width: 55%;
  margin-right: 5%;
}
.form-left input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}


.col-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.esconder_mobile{

  display: block;
}

.esconder_desktop{

  display: none;
}

}






@media(max-width:620px){


.logo_mobile {
    width: 100%;
}

.link_logo {
    width: 50%;
    margin: 6px auto 15px auto;
}


a.nav-link {
    color: #fff !important;
}


.quitar_borde{
  border:none !important;
}


h1.texto_banner {
    color: #fff;
    text-align: center;
    padding-top: 36px;
    font-size: 28px;
}




/* Menu MADY'SB*/

.imagen{

  display: none;
}


.imagen_mobile{

width: 100%;
height: auto;
margin-bottom: 6px;
display: block;
}


nav.navbar.navbar-expand-lg.bg-body-tertiary {
  display: block;
}

nav.navbar.navbar-expand-lg.bg-body-tertiary {
    background-color: #112235 !important;
    border-bottom: 2px solid #fff;
}


a.navbar-brand {
  color: #fff !important;
}

a.nav-link.active {
  color: #fff !important;
}

a.nav-link {
  color: #fff !important;
  text-align: center;
}

li.nav-item {
  border-bottom: 1px solid #00499b;
}



button.navbar-toggler {
  background-color: white !important;
}


.logo_mobile {
  width: 100%;
}


.Menu-cont{

  display:none;
}

/* Box Medeling */

.contact-container p {
  display: inline-block;
  font-family: 'Exo';
  font-size: 22px;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.whatsapp-btn i {
  margin-left: 10px;
}

.whatsapp-btn i.fab.fa-whatsapp {
 font-size: 20px;
 color: #FFFFFF;
 padding-right: 8px;
 
}

.whatsapp-btn:hover {
  background-color: #25D366;
}

/* Formulario */

.formul {
  width: 87%;
}


input[type="text"], input[type="tel"], input[type="email"] {
  height: 36px;
}

label {
  font-size: 15px;
  margin-bottom: 6px;
}


input[type="submit"] {
  width: 100%;
  margin-top: 18px;
  background-color: #2167b0;
  color: #fff;
  font-size: 20px;
}

.image {
  width: 88%;
  margin-bottom: 23px;
}

.formul-caja {
  width: 85%;
}


.contenedor_banner_ltsx.imagen_mobile {
  width: 100%;
  height: 182px;
  background-image: url(../img/banners/Banner_M_1.jpg);
  background-size: cover;
  background-position-x: -12px;
}


.contenedor_nosotros{

    height: 286px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    background-image: url(../img/banners/Banner_M_2.jpg) !important;
    background-position-x: -229px !important;
}


.contenedor_blog{

  width: 100% !important;
  height: 238px !important;
  background-image: url(../img/banners/Banner_M_3.jpg) !important;
  background-size: cover !important;
  background-position-x: -29px !important;
}


.contenedor_contacto{

  width: 100% !important;
  height: 200px !important;
  background-image: url(../img/banners/Banner_M_4.jpg) !important;
  background-size: cover !important;
  background-position-x: -150px !important;
}


/* Nosotros */

.cajas-imgtext2 h2, .cajas-imgtext3 h2, .cajas-imgtext6 h2 {
  font-family: 'Exo', sans-serif;
  font-size: 25px;
  color: #112235;
  margin-bottom: 10px;
}

.cajas-imgtext2 p, .cajas-imgtext3 p, .cajas-imgtext6 p {
  text-align: justify;
  font-family: 'HK Grotesk', sans-serif;
  font-size: 15px;
  color: #112235;
}



/* Otros contacto */

.form-left {
  width: 92%;
  margin-right: 0%;
}

.form-right {
  width: 92%;
}

.form-buttons button {
  background-color: #2167b0;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  /* margin-right: 10px; */
  width: 100%;
  margin-top: 24px;
  cursor: pointer;
}

.titulo_contacto {
  color: white;
  font-family: 'Exo';
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 30px;
  padding-top: 21px;
}

.imgcol-contact {
  width: 90%;
  text-align: center;
  margin-bottom: 53px;
}


.textcol-contact p {
  margin-bottom: -1px;
}




.box-catfil {
  width: 100%;
}

.cat-item {
  font-family: 'HK Grotesk', sans-serif;
  font-size: 15px;
  color: #112235;
  cursor: pointer;
  margin-bottom: 8px;
  transition: transform .2s;
}

.box-galimg {
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
}

.box-galimg {
  display: grid;
  /*--grid-template-columns: repeat(3, 1fr);--*/
  grid-gap: 20px;
  padding: 20px;
  align-content: space-between;
  justify-content: center;
  margin-top: -38px;
}


.seg-content {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: flex-start;
}


h1.titulo-NP {
  padding: 8px 0px 14px 0px;
}


i.fab {
  font-size: 28px;
  padding: 0px 7px;
}

.redes {
  margin-top: 20px;
  margin-bottom: 6px;
  margin: 34px 0px 11px 0px;
}




.esconder_mobile{

  display: block;
}

.esconder_desktop{

  display: none;
}


}



@media(max-width:320px){

/* Menu MADY'SB*/

  nav.navbar.navbar-expand-lg.bg-body-tertiary {
    display: block;
  }

  nav.navbar.navbar-expand-lg.bg-body-tertiary {
    background-color: #112235 !important;
  }
  
  
  a.navbar-brand {
    color: #fff !important;
  }
  
  a.nav-link.active {
    color: #fff !important;
  }
  
  a.nav-link {
    color: #fff !important;
  }
  
  
  button.navbar-toggler {
    background-color: white !important;
  }
  
  
  .logo_mobile {
    width: 94%;
}

  
  .Menu-cont{

    display:none;
  }


/* Box Modeling */

.caja h1 {
  color: white;
  font-family: 'Exo';
  font-size: 24px;
  font-weight: bold;
  margin-top: -20px;
  margin-bottom: 24px;
}

.caja p {
  color: white;
  font-family: 'HK Grotesk', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.caja button {
  font-family: 'Exo';
  background-color: #2167B0;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}



/* Feed de Instagram */

.eui-widget-title.es-widget-title.eapps-instagram-feed-title {
  color: #112235 !important;
  font-family: 'Exo' !important;
  font-size: 24px !important;
  font-weight: bold !important;
  margin-bottom: -16px !important;
  margin-top: 10px !important;
}


/* Texto e imágenes */


.titulo {
  font-family: 'Exo';
  color: #fff;
  font-size: 24px;
  margin-top: -10px;
  margin-bottom: 30px;
}

.columna img {
  max-width: 100%;
  width: 90px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.columna p {
  font-family: 'HK Grotesk', sans-serif;
  color: #fff;
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 30px;
}


/* Google Maps */

.conten-map h2 {
  color: #112235;
  font-family: 'Exo';
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 0px;
}


/* Formulario */

.formul-cont h2 {
  font-family: 'Exo';
  color: #112235;
  font-size: 24px;
  margin-top: -40px;
  margin-bottom: 30px;
}

.formul-caja {
  background-color: #112235;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  flex-direction: column-reverse;
  align-items: center;
}


/* Footer */

p {
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Formulario */

.cat-item {
  font-family: 'HK Grotesk', sans-serif;
  font-size: 15px;
  color: #112235;
  cursor: pointer;
  margin-bottom: 8px;
  transition: transform .2s;
}

/* Galeria de secciones */

.box-catfil {
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.box-galimg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
  align-content: space-between;
  justify-content: center;
  margin-top: -38px;
}


/* Galeria de secciones */

  .box-catfil{

    width: 100%;
  }
  
  .box-galimg{
    width: 100%;
    grid-template-columns: repeat(1, 1fr);

  }


  h1.titulo-NP {
    font-size: 25px;
    padding-top: 38px;
    padding-bottom: 3px;
  }


  .contact-container p {
    font-size: 18px;
    padding: 20px;
}


.seg-content {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: flex-start;
}


/* Galeria de secciones */

.cajas-imgtext1 img, .cajas-imgtext4 img, .cajas-imgtext5 img {
  width: 100%;
  height: auto;
  margin-bottom: -34px;
}

.cajas-imgtext2 h2, .cajas-imgtext3 h2, .cajas-imgtext6 h2 {
  font-family: 'Exo', sans-serif;
  font-size: 30px;
  color: #112235;
  margin-top: -12px;
  margin-bottom: 10px;
}


.cajas-imgtext2 p, .cajas-imgtext3 p, .cajas-imgtext6 p {
  text-align: center;
  font-family: 'HK Grotesk', sans-serif;
  font-size: 15px;
  color: #112235;
}

/* Blog */

.titulo-blog1 {
  font-family: 'Exo', sans-serif;
  text-align: center;
  font-size: 30px;
  color: #112235;
  margin-top: 20px;
  margin-bottom: -12px;
}


.img-context img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin: auto;
  margin-bottom: -18px;
}


.blog-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 80%;
  padding: 12px;
  margin-top: 26px;
}

.parrafo-blog1 {
  font-family: 'HK Grotesk', sans-serif;
  font-size: 15px;
  color: #112235;
  text-align: center;
  margin-top: 14px;
}


/* Otros Contacto */


.form-container {
  width: 80%;
  margin: 0 auto;
  background-color: #112235;
  padding: 4px 20px 60px 20px;
  margin-top: 40px;
}



.contenedor_nosotros {
  height: 347px !important;
}




}
