//Color
$color_1: #fff;
$color_2: #2267B0;
$color_3: #22b062;
$color_4: white;
$color_5: #FFFFFF;
$color_6: #112235;
$color_7: #ffffff;
$font-family_1: 'Exo';
$font-family_2: 'HK Grotesk', sans-serif;
$font-family_3: 'Exo', sans-serif;
$background-color_1: #112235;
$background-color_2: #2167B0;
$background-color_3: #25D366;
$background-color_4: white;
$background-color_5: #ffffff;
$background-color_6: #f2f2f2;
$background-color_7: rgba(0, 0, 0, 0.5);
$background-color_8: #FFFFFF;
$background-color_9: #fff;
$background-color_10: #2167b0;